
    <div id="windowLogin">
      <div>
        <div class="centralizators">
        </div>
        <div class="centralizators">
        </div>
        <div id="login" class="">
          <h1><b>Acesso: </b></h1>
          <input type="text" name="Email" id="Email" [(ngModel)]="auth.Email" placeholder="email" required>
          <input type="password" name="password" id="password" [(ngModel)]="auth.Password" placeholder="senha" required>
          <button class="btnLogin" (click)="doLogin()" id="btnAccess">ENTRAR</button>
        </div>
      </div>
    </div>


